*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Roboto, sans-serif";
}

img {
  max-width: 100%;
  height: auto;
}

/*Diferentes puntos de ruptura*/
.cabecera {
  background-color: #A3B18A;
  padding: 1rem 2rem;
}
.cabecera .menu_cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .cabecera .menu_cabecera {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .cabecera .menu_cabecera {
    flex-direction: row;
    padding: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .cabecera .menu_cabecera {
    max-width: 1400px;
  }
}
@media (min-width: 1920px) {
  .cabecera .menu_cabecera {
    max-width: 1800px;
  }
}
@media (min-width: 2560px) {
  .cabecera .menu_cabecera {
    max-width: 2200px;
  }
}

.logotipo {
  width: 50px;
  height: auto;
}
.logotipo img {
  width: 100%;
  height: auto;
}
@media (min-width: 480px) {
  .logotipo {
    width: 40px;
  }
}
@media (min-width: 768px) {
  .logotipo {
    width: 45px;
  }
}
@media (min-width: 1200px) {
  .logotipo {
    width: 55px;
  }
}
@media (min-width: 1920px) {
  .logotipo {
    width: 60px;
  }
}
@media (min-width: 2560px) {
  .logotipo {
    width: 70px;
  }
}

.menu_navegacion {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.menu_navegacion li a {
  color: #FFFFFF;
  text-decoration: none;
}
.menu_navegacion li a:hover {
  color: #D95D39;
}
@media (min-width: 1200px) {
  .menu_navegacion li a {
    font-size: 1rem;
  }
}
@media (min-width: 1920px) {
  .menu_navegacion li a {
    font-size: 1.1rem;
  }
}
@media (min-width: 2560px) {
  .menu_navegacion li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 480px) {
  .menu_navegacion {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .menu_navegacion {
    gap: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .menu_navegacion {
    gap: 3rem;
  }
}
@media (min-width: 1920px) {
  .menu_navegacion {
    gap: 3.5rem;
  }
}
@media (min-width: 2560px) {
  .menu_navegacion {
    gap: 4rem;
  }
}

.seccion_heroe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-image: url("../img/hero_image_1_943x455.webp");
  width: 100%;
  background-position: center;
  position: relative;
  background-size: cover;
}

.texto_heroe {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}
.texto_heroe h1 {
  font-family: "Playfair Display, serif";
  font-size: 2rem;
}
@media (min-width: 480px) {
  .texto_heroe h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .texto_heroe h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .texto_heroe h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1920px) {
  .texto_heroe h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 2560px) {
  .texto_heroe h1 {
    font-size: 4rem;
  }
}
.texto_heroe h3 {
  font-family: "Roboto, sans-serif";
  font-size: 1.5rem;
}
@media (min-width: 480px) {
  .texto_heroe h3 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .texto_heroe h3 {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .texto_heroe h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1920px) {
  .texto_heroe h3 {
    font-size: 1.6rem;
  }
}
@media (min-width: 2560px) {
  .texto_heroe h3 {
    font-size: 1.8rem;
  }
}

.productos_destacados, .novedades {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 90%;
}
@media (min-width: 768px) {
  .productos_destacados, .novedades {
    padding: 3rem 2rem;
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .productos_destacados, .novedades {
    padding: 4rem 3rem;
    max-width: 1140px;
  }
}
@media (min-width: 1920px) {
  .productos_destacados, .novedades {
    max-width: 1800px;
  }
}
@media (min-width: 2560px) {
  .productos_destacados, .novedades {
    max-width: 2200px;
  }
}
.productos_destacados h2, .novedades h2 {
  font-family: "Playfair Display, serif";
  text-align: center;
  color: #A3B18A;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .productos_destacados h2, .novedades h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .productos_destacados h2, .novedades h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1920px) {
  .productos_destacados h2, .novedades h2 {
    font-size: 2.2rem;
  }
}

.productos_grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .productos_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .productos_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
}

.tarjeta_producto picture {
  display: block;
  height: 90%;
  overflow: hidden;
  border-radius: 10px;
}
.tarjeta_producto picture img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.tarjeta_producto picture img:hover {
  transform: scale(1.02);
}

.producto_novedad {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.producto_novedad picture {
  display: block;
  height: 90%;
}
.producto_novedad picture img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.producto_novedad picture img:hover {
  transform: scale(1.02);
}
.producto_novedad .boton-comprar {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: calc(100% - 7rem);
  padding: 0.75rem 1rem;
  background-color: #D95D39;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  z-index: 2;
  transition: transform 0.3s ease;
}
.producto_novedad .boton-comprar:hover {
  background-color: #bb4624;
}
.producto_novedad .precio {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #FFFFFF;
  color: #A3B18A;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  font-family: "Poppins, sans-serif";
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.nuestra_seleccion {
  background-color: #D9CAB3;
  padding: 4rem 0;
  text-align: center;
  border-radius: 50%;
}
.nuestra_seleccion h2 {
  font-family: "Playfair Display, serif";
  color: #A3B18A;
  margin-bottom: 2rem;
}
@media (min-width: 480px) {
  .nuestra_seleccion h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) {
  .nuestra_seleccion h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .nuestra_seleccion h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1920px) {
  .nuestra_seleccion h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 2560px) {
  .nuestra_seleccion h2 {
    font-size: 2.8rem;
  }
}
.nuestra_seleccion p {
  margin: 0 auto 2rem;
  line-height: 1.8;
  padding: 0 20px;
  font-family: "Roboto, sans-serif";
}
@media (min-width: 480px) {
  .nuestra_seleccion p {
    font-size: 1rem;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .nuestra_seleccion p {
    font-size: 1.1rem;
    max-width: 600px;
  }
}
@media (min-width: 1200px) {
  .nuestra_seleccion p {
    font-size: 1.2rem;
    max-width: 800px;
  }
}
@media (min-width: 1920px) {
  .nuestra_seleccion p {
    font-size: 1.3rem;
    max-width: 1000px;
  }
}
@media (min-width: 2560px) {
  .nuestra_seleccion p {
    font-size: 1.4rem;
    max-width: 1200px;
  }
}

.pie_pagina {
  background-color: #A3B18A;
  padding: 1rem 2rem;
}
.pie_pagina .menu_pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .pie_pagina .menu_pie {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .pie_pagina .menu_pie {
    flex-direction: row;
    padding: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .pie_pagina .menu_pie {
    max-width: 1400px;
  }
}
@media (min-width: 1920px) {
  .pie_pagina .menu_pie {
    max-width: 1800px;
  }
}
@media (min-width: 2560px) {
  .pie_pagina .menu_pie {
    max-width: 2200px;
  }
}

.logotipo {
  width: 50px;
  height: auto;
}
.logotipo img {
  width: 100%;
  height: auto;
}
@media (min-width: 480px) {
  .logotipo {
    width: 40px;
  }
}
@media (min-width: 768px) {
  .logotipo {
    width: 45px;
  }
}
@media (min-width: 1200px) {
  .logotipo {
    width: 55px;
  }
}
@media (min-width: 1920px) {
  .logotipo {
    width: 60px;
  }
}
@media (min-width: 2560px) {
  .logotipo {
    width: 70px;
  }
}

.menu_navegacion {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.menu_navegacion li a {
  color: #FFFFFF;
  text-decoration: none;
}
.menu_navegacion li a:hover {
  color: #D95D39;
}
@media (min-width: 1200px) {
  .menu_navegacion li a {
    font-size: 1rem;
  }
}
@media (min-width: 1920px) {
  .menu_navegacion li a {
    font-size: 1.1rem;
  }
}
@media (min-width: 2560px) {
  .menu_navegacion li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 480px) {
  .menu_navegacion {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .menu_navegacion {
    gap: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .menu_navegacion {
    gap: 3rem;
  }
}
@media (min-width: 1920px) {
  .menu_navegacion {
    gap: 3.5rem;
  }
}
@media (min-width: 2560px) {
  .menu_navegacion {
    gap: 4rem;
  }
}

.boton-catalogo, .boton-comprar {
  background-color: #D95D39;
  color: #FFFFFF;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}
.boton-catalogo:hover, .boton-comprar:hover {
  background-color: #bb4624;
}
.boton-comprar {
  width: 100%;
}/*# sourceMappingURL=main.css.map */