// cabecera.scss
@use '../global/variables';
@use '../global/mixins' as *;

.cabecera {
    background-color: map-get(variables.$colores, color-primario);
    padding: 1rem 2rem; //espacio a los elementos internos

    .menu_cabecera {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        
        @include puntoRuptura("movil") {
            flex-direction: column;
            gap: 1rem;
        }

        @include puntoRuptura("tableta") {
            padding: 0 2rem;
        }

        @include puntoRuptura("pantalla-peque") {
            padding: 0 3rem;
            max-width: 1400px;
        }

        @include puntoRuptura("pantalla-estandar") {
            max-width: 1800px;
        }

        @include puntoRuptura("pantalla-grande") {
            max-width: 2200px;
        }
    }
}

.logotipo {
    width: 50px; //ancho por defecto
    height: auto;
    
    img {
        width: 100%;
        height: auto;
    }

    @include puntoRuptura("movil") {
        width: 40px;
    }
    
    @include puntoRuptura("tableta") {
        width: 45px;
    }

    @include puntoRuptura("pantalla-peque") {
        width: 55px;
    }

    @include puntoRuptura("pantalla-estandar") {
        width: 60px;
    }

    @include puntoRuptura("pantalla-grande") {
        width: 70px;
    }
}

.menu_navegacion {
    display: flex;
    gap: 2rem;
    list-style: none;
    
    li a {
        color: map-get(variables.$colores, color-neutro-bl);
        text-decoration: none;

        &:hover {
            color: map-get(variables.$colores, color-boton);
        }

        @include puntoRuptura("pantalla-peque") {
            font-size: 1rem;
        }

        @include puntoRuptura("pantalla-estandar") {
            font-size: 1.1rem;
        }

        @include puntoRuptura("pantalla-grande") {
            font-size: 1.2rem;
        }
    }

    @include puntoRuptura("movil") {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    @include puntoRuptura("tableta") {
        gap: 2.5rem;
    }

    @include puntoRuptura("pantalla-peque") {
        gap: 3rem;
    }

    @include puntoRuptura("pantalla-estandar") {
        gap: 3.5rem;
    }

    @include puntoRuptura("pantalla-grande") {
        gap: 4rem;
    }
}



