//Este archivo alberga los estilos de los apartados de productos destacados y novedades dentro de la pagina principal
@use '../global/variables';
@use '../global/mixins' as *;

.productos_destacados, .novedades {
    padding: 2rem 1rem; //base para móvil
    margin: 0 auto;
    max-width: 90%;
    

    @include puntoRuptura("tableta") {
        padding: 3rem 2rem;
        max-width: 720px;
    }

    @include puntoRuptura("pantalla-peque") {
        padding: 4rem 3rem;
        max-width: 1140px;
    }

    @include puntoRuptura("pantalla-estandar") {
        max-width: 1800px;
    }

    @include puntoRuptura("pantalla-grande") {
        max-width: 2200px;
    }

    h2 {
        font-family: map-get(variables.$tipografias, fuente-titulos);
        text-align: center;
        color: map-get(variables.$colores, color-primario);
        margin-bottom: 2rem;
        font-size: 1.6rem; //base para movil

        @include puntoRuptura("tableta") {
            font-size: 1.8rem;
        }

        @include puntoRuptura("pantalla-peque") {
            font-size: 2rem;
        }

        @include puntoRuptura("pantalla-estandar") {
            font-size: 2.2rem;
        }
    }
}

.productos_grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr; //una sola columna para moviles
    

    @include puntoRuptura("tableta") {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    @include puntoRuptura("pantalla-peque") {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
    }

}

.tarjeta_producto {
    picture{
        display: block;
        height: 90%; // Reduce la altura de la imagen
        overflow: hidden;
        border-radius: 10px;
        
        @include estiloImagen;
    }
    
}

.producto_novedad {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: map-get(variables.$colores, color-neutro-bl);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    picture {
        display: block;
        height: 90%; // Reduce la altura de la imagen
        
        @include estiloImagen;
    }

    .boton-comprar {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        width: calc(100% - 7rem); //ancho ajustado para dejar espacio al precio
        padding: 0.75rem 1rem;
        background-color: map-get(variables.$colores, color-boton);
        color: map-get(variables.$colores, color-neutro-bl);
        border: none;
        border-radius: 5px;
        font-weight: bold;
        z-index: 2; //asegura que el botón esté sobre la imagen
        transition: transform 0.3s ease;

        &:hover {
            background-color: darken(map-get(variables.$colores, color-boton), 10%);
        }
    }

    .precio {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        background-color: map-get(variables.$colores, color-neutro-bl);
        color: map-get(variables.$colores, color-primario);
        padding: 0.75rem 1rem;
        border-radius: 5px;
        font-family: map-get(variables.$tipografias, fuente-cta);
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 2; // Asegura que el precio esté sobre la imagen
    }
}