//Estilos de los botones
@use '../global/variables';
@use '../global/mixins' as *;

.boton {
  &-catalogo { //Uso anidamiento para los estilos de los diferentes botones
    background-color: map-get(variables.$colores, color-boton);
    color: map-get(variables.$colores, color-neutro-bl);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-weight: bold;

    &:hover {
      background-color: darken(map-get(variables.$colores, color-boton), 10%); //Uso darken para oscurecer el color del botón al pasar el cursor por encima
    }
  }

  &-comprar {
    @extend .boton-catalogo;
    width: 100%; 
  }
}